@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}
html body {
  height: 100vh;
}
html body header {
  background: url("../images/bg-main-mobile.png");
  background-size: cover;
  color: white;
  height: 240px;
}
html body header .card_container {
  position: relative;
  height: 100%;
}
html body header .card_container .card_front {
  width: 285px;
  height: 156px;
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: -40px;
  left: 6%;
  z-index: 99;
}
html body header .card_container .card_front .logo {
  height: 40%;
  padding: 14px 20px;
}
html body header .card_container .card_front .card_value {
  height: 60%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
}
html body header .card_container .card_front .card_value .number_set {
  width: 100%;
  letter-spacing: 2px;
}
html body header .card_container .card_front .card_value .name_set {
  font-size: 0.6rem;
  margin-left: 10%;
}
html body header .card_container .card_front .card_value .date_set {
  font-size: 0.6rem;
  margin-right: 10%;
}
html body header .card_container .card_back {
  background-image: url("../images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 285px;
  height: 156px;
  position: absolute;
  right: 6%;
  top: 20px;
  font-size: 0.6rem;
}
html body header .card_container .card_back p {
  position: absolute;
  right: 30px;
  top: 45%;
  letter-spacing: 1px;
}
html body main.container {
  width: 100%;
  background: white;
  padding: 80px 6% 0;
  display: flex;
  flex-wrap: wrap;
}
html body main.container form.grid_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 25%) 30% 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 300px;
}
html body main.container form.grid_items .item1 {
  grid-area: 1/1/2/5;
}
html body main.container form.grid_items .item2 {
  grid-area: 2/1/3/5;
}
html body main.container form.grid_items .item3 {
  grid-area: 3/1/4/3;
  width: 96%;
}
html body main.container form.grid_items .item3 .flex {
  display: flex;
  justify-content: space-between;
}
html body main.container form.grid_items .item3 .flex input {
  width: 46%;
}
html body main.container form.grid_items .item4 {
  grid-area: 3/3/4/5;
}
html body main.container form.grid_items button {
  background: hsl(278deg, 68%, 11%);
  border: 1px solid transparent;
  color: white;
  border-radius: 8px;
}
html body main.container form.grid_items button.item5 {
  grid-area: 4/1/5/5;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
html body main.container form label,
html body main.container form p {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1.3px;
  margin-bottom: 4px;
  color: hsl(278deg, 100%, 11%);
  font-size: 0.8rem;
}
html body main.container form input {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  padding: 10px 16px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid hsl(270deg, 3%, 87%);
  margin-bottom: 8px;
  font-size: 18px;
}
html body main.container form input::placeholder {
  color: hsl(270deg, 3%, 87%);
}
html body main.container form input:focus {
  border: 1px solid transparent;
  border-image: linear-gradient(0deg, hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%)) !important;
  border-image-slice: 1;
}
@media only screen and (min-width: 1024px) {
  html body {
    display: flex;
  }
  html body header {
    width: 40%;
    background: url(../images/bg-main-desktop.png);
    background-size: cover;
    height: 100vh;
  }
  html body header .card_container .card_front {
    width: 447px;
    height: 245px;
    top: 25%;
    left: 40%;
  }
  html body header .card_container .card_front .number_set {
    font-size: 1.6rem;
    font-weight: 500;
  }
  html body header .card_container .card_front .name_set,
html body header .card_container .card_front .date_set {
    font-size: 1rem !important;
    letter-spacing: 1.2px;
  }
  html body header .card_container .card_back {
    width: 447px;
    height: 245px;
    top: auto;
    bottom: 20%;
    left: 60%;
    z-index: 20;
  }
  html body header .card_container .card_back p {
    right: 55px;
    font-size: 0.8rem;
  }
  html body main.container {
    position: relative;
    width: 60%;
  }
  html body main.container form.grid_items {
    position: absolute;
    right: 20%;
    bottom: 34%;
    left: 40%;
    top: 270px;
    height: 340px;
  }
  html body main.container form.grid_items button {
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */