@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$active-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$input-error: hsl(0, 100%, 66%);
$violet-light: hsl(270, 3%, 87%);
$violet-dark: hsl(279, 6%, 55%);
$violet-dark-02: hsl(278, 68%, 11%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vmax;
  font-size: 18px;
  background: url("../images/bg-main-desktop.png");

  justify-content: center;
  position: relative;

  .card_container {
    color: white;
    padding: 10%;

    .card_front {
      // dekstop size
      // max-width: 447px;
      // max-height: 245px;
      width: 285px;
      height: 156px;
      background-image: url("../images/bg-card-front.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 17%;
      left: 20px;
      z-index: 99;

      .logo {
        // The flex-grow property specifies how much a flex item will grow relative to the rest of the flex items.
        // flex-grow: 1;
        height: 40%;
        padding: 14px 20px;
      }

      .card_value {
        height: 60%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-between;

        .number_set {
          width: 100%;
          letter-spacing: 2px;
        }

        .month_set {
          font-size: 0.6rem;
          margin-left: 10%;
        }
        .year_set {
          font-size: 0.6rem;
          margin-right: 10%;
        }

        .date {
          display: flex;
          height: 100%;
          justify-content: space-between;
          align-content: flex-end;
        }
      }
    }
    .card_back {
      background-image: url("../images/bg-card-back.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 285px;
      height: 156px;
      position: absolute;
      right: 20px;
      font-size: 0.6rem;
      p {
        position: absolute;
        right: 30px;
        top: 45%;
        letter-spacing: 1px;
      }
    }
  }

  form {
    position: absolute;
    bottom: 0;
    background: white;
    top: 30%;
    right: 0;
    left: 0;
    padding: 40% 0 0 0;
  }
}

@media only screen and (min-width: 1440px) {
  main {
    background-color: red;
  }
}
