@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$active-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$input-error: hsl(0, 100%, 66%);
$violet-light: hsl(270, 3%, 87%);
$violet-dark: hsl(279, 6%, 55%);
$violet-dark-02: hsl(278, 68%, 11%);
$font-primary: "Space Grotesk", sans-serif;

// all mixin
@mixin label-text {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1.3px;
  margin-bottom: 4px;
}

@mixin text-primary {
  font-family: $font-primary;
  font-weight: 500;
}

@mixin style-button {
  background: hsl(278, 68%, 11%);
  border: 1px solid transparent;
  color: white;
  border-radius: 8px;
}

//=================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: $font-primary;
  body {
    height: 100vh;

    header {
      background: url("../images/bg-main-mobile.png");
      background-size: cover;
      color: white;
      height: 240px;

      .card_container {
        position: relative;
        height: 100%;
        .card_front {
          // dekstop size
          // max-width: 447px;
          // max-height: 245px;
          width: 285px;
          height: 156px;
          background-image: url("../images/bg-card-front.png");
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          bottom: -40px;
          left: 6%;
          z-index: 99;

          .logo {
            // The flex-grow property specifies how much a flex item will grow relative to the rest of the flex items.
            // flex-grow: 1;
            height: 40%;
            padding: 14px 20px;
          }

          .card_value {
            height: 60%;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: space-around;
            justify-content: space-between;

            .number_set {
              width: 100%;
              letter-spacing: 2px;
            }

            .name_set {
              font-size: 0.6rem;
              margin-left: 10%;
            }
            .date_set {
              font-size: 0.6rem;
              margin-right: 10%;
            }

            // .date {
            //   display: flex;
            //   height: 100%;
            //   justify-content: space-between;
            //   align-content: flex-end;
            // }
          }
        }
        .card_back {
          background-image: url("../images/bg-card-back.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 285px;
          height: 156px;
          position: absolute;
          right: 6%;
          top: 20px;
          font-size: 0.6rem;
          p {
            position: absolute;
            right: 30px;
            top: 45%;
            letter-spacing: 1px;
          }
        }
      }
    }

    main.container {
      width: 100%;
      background: white;
      padding: 80px 6% 0;
      display: flex;
      flex-wrap: wrap;

      form {
        &.grid_items {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 25%) 30% 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          height: 300px;

          .item1 {
            grid-area: 1 / 1 / 2 / 5;
          }
          .item2 {
            grid-area: 2 / 1 / 3 / 5;
          }
          .item3 {
            grid-area: 3 / 1 / 4 / 3;
            width: 96%;

            .flex {
              display: flex;
              justify-content: space-between;

              input {
                width: 46%;
              }
            }
          }
          .item4 {
            grid-area: 3 / 3 / 4 / 5;
          }
          button {
            @include style-button();

            &.item5 {
              grid-area: 4 / 1 / 5 / 5;
              font-size: 1rem;
              font-family: "Space Grotesk", sans-serif;
              font-weight: 500;
            }
          }
        }
        label,
        p {
          @include label-text();

          color: hsl(278deg 100% 11%);
          font-size: 0.8rem;
        }

        input {
          @include text-primary();

          padding: 10px 16px;
          width: 100%;
          border-radius: 6px;
          border: 1px solid $violet-light;
          margin-bottom: 8px;
          font-size: 18px;
          &::placeholder {
            color: $violet-light;
          }

          &:focus {
            // cara bikin gradiasi warna border
            border: 1px solid transparent;
            border-image: linear-gradient(
              0deg,
              hsl(249, 99%, 64%),
              hsl(278, 94%, 30%)
            ) !important;
            border-image-slice: 1;
          }
        }
      }
      .succes_message {
        width: 100%;
        height: 340px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .logo,
        .message,
        .btn_complete {
          width: 100%;
          text-align: center;
        }

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .message p {
          color: hsl(279, 6%, 55%);
        }

        .btn_complete {
          @include style-button();
          height: 60px;
          font-size: 1rem;
          letter-spacing: 1px;
          font-family: $font-primary;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    body {
      display: flex;

      header {
        width: 40%;
        background: url(../images/bg-main-desktop.png);
        background-size: cover;
        height: 100vh;

        .card_container {
          .card_front {
            // width: auto;
            // height: ;
            width: 447px;
            height: 245px;
            top: 25%;
            left: 40%;
            .number_set {
              font-size: 1.6rem;
              font-weight: 500;
            }
            .name_set,
            .date_set {
              font-size: 1rem !important;
              letter-spacing: 1.2px;
            }
          }
          .card_back {
            width: 447px;
            height: 245px;
            top: auto;
            bottom: 20%;
            left: 60%;
            z-index: 20;
            p {
              right: 55px;
              font-size: 0.8rem;
            }
          }
        }
      }

      main.container {
        position: relative;
        width: 60%;
        form.grid_items {
          position: absolute;
          right: 20%;
          bottom: 34%;
          left: 40%;
          top: 270px;
          height: 340px;

          button {
            margin: 10px;
          }
        }

        .succes_message {
          position: absolute;
          right: 20%;
          bottom: 34%;
          left: 40%;
          top: 270px;
          height: 340px;
          width: auto;
        }
      }
    }
  }
}
